.box1 {
    background-color: gold;
    flex-basis: 5%;
    font-size: 1.24rem;
}

.box2 {
    background: darkgreen;
    flex-basis: 15%;
    font-size: 3rem;
}

.box3 {
    background: crimson;
    flex-basis: 30%;
    font-size: 7.2rem;
}

.box4 {
    background: dodgerblue;
    flex-basis: 15%;
    font-size: 3rem;
}

.box5 {
    background: indigo;
    flex-basis: 5%;
    font-size: 1.24rem;
}

.box {
    color: antiquewhite;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    height: 100%;
}